@font-face {
    font-family: 'Rounded Mplus 1c Bold';
    src: local('Rounded Mplus 1c Bold'), url(/fonts/Roundedmplus1cbold.woff2) format('woff2');
}

:root {
    background-color: var(--color-background);
}